## MultiVariate Linear Regression

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Dataset House Pricing

In [3]:
dfx=pd.read_csv("./train.csv")
dfy=dfx['SalePrice']
dfx.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
dfy.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [12]:
x_train=dfx.values[:,:80]
y_train=dfy.values
x_train.shape

(1460, 80)

In [13]:
ones=np.ones((x_train.shape[0],1))
x_train=np.hstack((ones,x_train))
x_train.shape

(1460, 81)

## Algorithm

In [17]:
def hypothesis(X,theta):
    
    y_=0.0
    
    m=X.shape[0]
    
    for i in range(m):
        
        y_+=(theta[i]*X[i])
        
    return y_

def error(X,y,theta):
    
    e=0.0
    
    m=X.shape[0]
    
    for i in range(m):
        
        y_=hypothesis(X[i],theta)
        
        e+=(y_ - y)**2
        
    return e/m

def gradient(X,y,theta):
    
    m,n=X.shape
    
    grad=np.zeros((n,))
    
    for j in range(n):
        
        for i in range(m):
            
            y_=hypothesis(X[i],theta)

            grad[j]+=(y_ - y)*X[i][j]
        
    return grad/m

def gradientDescent(X,y,learning_rate=0.1,max_iter=300):
    
    m,n=X.shape
    
    theta=np.zeros((n,))
    
    error_list=[]
    
    for i in range(max_iter):
        
        e=error(X,y,theta)
        
        error_list.append(e)
        
        
        grad=gradient(X,y,theta)
        
        for j in range(n):
            
            theta[j]=theta[j] - learning_rate*grad[j]
            
    return theta,error_list

In [19]:
theta,error=gradientDescent(x_train,y_train)

TypeError: can't multiply sequence by non-int of type 'numpy.float64'

In [20]:
# you can see the data has string value that's why this is generating error so this algorithm will not work for this dataset

array([[1.0, 1, 60, ..., 2008, 'WD', 'Normal'],
       [1.0, 2, 20, ..., 2007, 'WD', 'Normal'],
       [1.0, 3, 60, ..., 2008, 'WD', 'Normal'],
       ...,
       [1.0, 1458, 70, ..., 2010, 'WD', 'Normal'],
       [1.0, 1459, 20, ..., 2010, 'WD', 'Normal'],
       [1.0, 1460, 20, ..., 2008, 'WD', 'Normal']], dtype=object)